<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../static/css/gameroom_general.css"
	th:href="@{css/gameroom_general.css}" />
<link rel="stylesheet" href="../static/css/gameroom_index.css"
	th:href="@{css/gameroom_index.css}" />
<title th:text="#{index.title}">My little game-room</title>
</head>
<body>
	<div>
		<h1 th:text="#{errorPage.userError.notFound}" ></h1>
	</div>
</body>
</html>