@font-face {
	font-family: lunchds;
	src: url(lunchds.ttf);
}

body {
	background-image: url(../images/arcade-city.png);
	background-attachment: fixed;
	background-repeat: repeat-x;
	background-size: auto 100%;
	background-color: blue;
	text-align: center;
	color: white;
	font-family: lunchds;
}

.button {
	min-width: 20%;
	min-height: 20%;
	padding: 10px;
	margin: 12px;
	background-color: #0080ff;
	border-width: 5px;
	border-style: solid;
	border-color: white;
	font-family: lunchds;
	font-size: 130%;
	color: white;
}

.formErrorMessage,
.fieldErrorMessage {
	color: red;
}
