<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../static/css/gameroom_general.css"
	th:href="@{css/gameroom_general.css}" />
<link rel="stylesheet" href="../static/css/gameroom_main.css"
	th:href="@{css/gameroom_main.css}" />
<title th:text="#{grmain.title}">Games Main Page</title>
</head>
<body>
	<div th:text="#{grmain.hello}">Hello </div><span th:text="${nickname}"/>
	<div id="listheader" th:text="#{grmain.gamelist}">
		<h1>Game list:</h1>
	</div>
</body>
</html>