<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../static/css/gameroom_general.css"
	th:href="@{css/gameroom_general.css}" />
<link rel="stylesheet" href="../static/css/gameroom_index.css"
	th:href="@{css/gameroom_index.css}" />
<title th:text="#{index.title}">My little game-room</title>
</head>
<body>
	<div id="welcome">
		<h1 th:text="#{index.header1}">Welcome Traveler!</h1>
		<h2 th:text="#{index.header2}">Choose your path!</h2>
		<button type="button" id="login-button" class="button"
			th:text="#{index.login-button}">Login</button>
		or
		<button type="button" id="reg-button" class="button"
			th:text="#{index.reg-button}">Registration</button>
	</div>
	<div id="loginform" class="hidden">
		<form method="post" action="/login" th:action="@{/login}">
			<label th:text="#{index.nickname}"> Nickname: </label> <br /> 
			
			<input type="text" name="nickName" /> <br /> 
			
			<label th:text="#{index.password}"> Password: </label> <br /> 
			
			<input type="password" name="password" /> <br />
			
			<button type="submit" class="button" th:text="#{index.submit}"
				name="login-button">Submit</button>
		</form>
	</div>
	<div id="registrationform" class="hidden">
		<form method="post" action="/registration"
			th:action="@{/registration}" th:object="${registrationForm}">
			<label th:text="#{index.nickname}"> Nickname: </label> <br /> 
			<div class="fieldErrorMessage" th:if="${#fields.hasErrors('nickName')}" th:errors="*{nickName}">Field error</div>
			
			<input type="text" th:field="*{nickName}" /> <br /> 
			
			<label th:text="#{index.email}"> E-mail: </label> <br /> 
			<div class="fieldErrorMessage" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Field error</div>
			
			<input type="email" th:field="*{email}" /> <br /> 
			
			<label th:text="#{index.password}"> Password: </label> <br /> 
			<div class="fieldErrorMessage" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Field error</div>
			
			<input type="password" th:field="*{password}" /> <br />
						
			<label th:text="#{index.realname}"> Real name: </label> <br /> 
			<div class="fieldErrorMessage" th:if="${#fields.hasErrors('realName')}" th:errors="*{realName}">Field error</div>
			
			<input type="text" th:field="*{realName}" /> <br /> 

			<div class="formErrorMessage" th:if="${#fields.hasErrors('global')}" th:errors="*{global}">Form error</div>
			<button type="submit" class="button" th:text="#{index.submit}"
				name="reg-button">Submit</button>
		</form>
	</div>
	<script
		src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
	<script type="text/javascript" src="../static/scripts/buttons.js"
		th:src="@{scripts/buttons.js}"></script>
</body>
</html>