<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" href="../static/css/gameroom_general.css"
	th:href="@{css/gameroom_general.css}" />
<link rel="stylesheet" href="../static/css/successful_registration.css"
	th:href="@{css/successful_registration.css}" />
<title th:text="#{succreg.title}">Successful registration</title>
</head>
<body>
	<div id="message" >
		<h2 th:text="#{succreg.header2}">Congratulation your registration is finished! <br> </h2>
		<h3 th:text="#{succreg.header3}">Now go back and log in! <br></h3>
	</div>
	<form action="../templates/gameroom_index.html" th:action="@{/index}">
		<input class="button" type="submit" value="Back" th:value="#{succreg.back-button}">
	</form>
</body>
</html>